fwp/composer.json
fwp/composer.lock
fwp/app/Http/Controllers/ProfileController.php
fwp/app/Http/Controllers/WirelessPrintingController.php
fwp/app/Http/Controllers/Auth/RegisteredUserController.php
fwp/app/Models/WirelessPrinting.php
fwp/app/Rules/ReCaptchaV3.php
fwp/config/app.php
fwp/config/services.php
fwp/lang/en/auth.php
fwp/lang/en/pagination.php
fwp/lang/en/passwords.php
fwp/lang/en/validation.php
fwp/public/css/styles.css
fwp/resources/views/dashboard.blade.php
fwp/resources/views/welcome.blade.php
fwp/resources/views/auth/register.blade.php
fwp/resources/views/components/primary-button.blade.php
fwp/resources/views/layouts/app.blade.php
fwp/resources/views/layouts/guest.blade.php
fwp/resources/views/layouts/navigation.blade.php
fwp/resources/views/profile/edit.blade.php
fwp/resources/views/profile/partials/update-profile-information-form.blade.php
fwp/resources/views/user/index.blade.php
fwp/routes/web.php
